
.button-badge {
    background-color: #fefefe;
    text-decoration: none;
    padding: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    transition: all ease 0.2s;
    margin: 10px;
    border: 1px solid #0c3d5d;
}

.button-badge:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fefefe;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .8em;
}

app-dashboard-sidebar-inner .fa {
    color: white;
}

