
.clipped-circle-graph {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    background-color: #8a8a8a;
    position: relative;
}

.clipped-circle-graph.gt-50 {
    background-color: #1779ba;
}

.clipped-circle-graph:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 19px;
    background: #ffffff;
    height: 5rem;
    width: 5rem;
    z-index: 3;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transform-origin: -30px 15px;
    -ms-transform-origin: -30px 15px;
    transform-origin: -30px 15px;
}

.clipped-circle-graph-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 5.625rem);
    top: calc(50% - 5.625rem);
    width: 11.25rem;
    height: 11.25rem;
    clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
    -webkit-transform: rotate(-180deg) perspective(0);
    transform: rotate(-180deg) perspective(0);
}

.clipped-circle-graph-progress .clipped-circle-graph-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 5.625rem);
    top: calc(50% - 5.625rem);
    width: 11.25rem;
    height: 11.25rem;
    clip: rect(0, 5.625rem, 11.25rem, 0);
    background: #1779ba;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.gt-50 .clipped-circle-graph-progress {
    clip: rect(0, 5.625rem, 11.25rem, 0);
}

.gt-50 .clipped-circle-graph-progress .clipped-circle-graph-progress-fill {
    clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
    background: #8a8a8a;
}

.clipped-circle-graph-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 7.75862rem/2);
    top: calc(50% - 7.75862rem/2);
    width: 7.75862rem;
    height: 7.75862rem;
    background: #e6e6e6;
    text-align: center;
    display: table;
    z-index: 4;
}

.clipped-circle-graph-percents .clipped-circle-graph-percents-number {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1779ba;
}

.clipped-circle-graph-percents .clipped-circle-graph-percents-units {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.clipped-circle-graph-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}

.clipped-circle-graph-percents-wrapper span {
    line-height: 1;
}

