#user-responses .callout:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    cursor: pointer;
}

#user-responses .callout:focus {
    box-shadow: none;
    transition: 0.3s;
}

.max-height {
    max-height: 30rem;
    overflow-y: scroll;
}

.inset-shadow {
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.19);
}

.vis-item.vis-box.validation {
    background-color: #f6f6f6;
    border-color: #8000ff;
    color: #8000ff;
}

.vis-item.vis-box.primary {
    background-color: #f6f6f6;
    border-color: #1779ba;
    color: #1779ba;
}

.vis-item.vis-box.secondary {
    background-color: #f6f6f6;
    border-color: #767676;
    color: #767676;
}

.vis-item.vis-box.success {
    background-color: #e1faea;
    border-color: #3adb76;
    color: #3adb76;
}

.vis-item.vis-box.alert {
    background-color: #f6f6f6;
    border-color: #cc4b37;
    color: #cc4b37;
}

.vis-item.vis-box.warning {
    background-color: #f6f6f6;
    border-color: #ffae00;
    color: #ffae00;
}