#create-drill-modal .card {
    align-items:center;
    opacity: 1;
    transition: 0.5s ease;
}

#create-drill-modal .card img {
    width:100px;
    height:100px;
    margin:20px;
}

#create-drill-modal .card:hover {
    /*background-color: #2c3840;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.8;
    cursor: pointer;
}

#create-drill-modal .card:hover .card-section {
    opacity: 1;
}