.menu-item{
    background-color: #0078c1;
    color: white !important;
    text-align: left !important;
    justify-content: left !important;
}
.menu-item:hover{
    background-color: #c2e0f6;
    color: black !important;
}
.menu-item:hover + #arrow{
    color: black !important;
}
#arrow {
    pointer-events: none;
}