#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/*html, body {*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/
/*.over_map {*/
/*position: absolute;*/
/*top: 2%;*/
/*left: 35%;*/
/*z-index: 1;*/
/*max-height: 325px;*/
/*width: 30%;*/

/*!*background-color: #ccc;*!*/
/*}*/
.toolsHidden {
    display: none;
}
.gfInfoHidden {
    display: none;
}

.gfInfoHidden {
    display: none;
}
.errorMsg {
    display: none;
    color: red;
    font-size: smaller;
}