.chart, .stats-list {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.is-drill {
    background-color: #f6f6f6;
    border-color: #cc4b37;
    color: #cc4b37;
}

.hidden{
    display: none;
}

.red{
    color: red;
    text-decoration: underline;
    text-underline: red;
}

.clickable{
    cursor: pointer;
}