html {
    height: 100%;
    min-height: 100%;
    color: white;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    /*background-color: #566977;*/
    /*
    background-image: url(../img/background-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.menu-links a:hover {
    background-color: #0078c1;
    color: white;
    border-radius: 10px;

}


/*input[type=text], input[type=password], input[type-text]:-webkit-autofill {*/
/*    background: rgba(255, 255, 255, .8);*/
/*    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, .4);*/
/*    border-radius: 5px;*/
/*    border-color: #999999;*/
/*    outline: none;*/
/*    -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, .4);*/
/*}*/

/*input[type=text]:focus, input[type=password]:focus {*/
/*    background: rgba(255, 255, 255, .9);*/
/*}*/

.border {
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 20px;
}

#main {
    padding-top: 45%;
}

.alert-message {
    border-radius: 5px;
    border: 2px solid red;
    color: red;
}

/*horizontal menu to fit width of page. */
.top-bar, .top-bar ul {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;


}


/*input:-webkit-autofill {*/
/*-webkit-box-shadow: 0 0 0px 1000px white inset;*/
/*}*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;

}

footer img {
    float: right;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 10px;
}

footer h4 {
    float: right;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 10px;
    color: #0079c1;
}

.line hr {
    z-index: -50;
    border: none;
    /*height: 20px;*/
    /*height: 20px;*/
    width: 100%;
    /*height: 50px;*/
    height: 0px;
    margin-top: 0;
    /*border-bottom: 1px solid #1f1209;*/
    border-bottom: 4px solid #0078c1;
    /*box-shadow:  0 20px 20px -20px #333;*/
    /*box-shadow: 0 20px 20px -20px #0078c1;*/
    /*box-shadow: 1px 7px 13px 1px #0078c1;*/
    box-shadow: 1px 5px 13px 1px #0078c1;
    margin: -82px auto 10px;
    max-width: 100%;

}

.MMM-header {
    color: #0078C1;
    font-weight: bold;
    font-size: 8vw;
    font-style: italic;
    /*text-shadow: 2px 2px #000000;*/

}

/*controls the text alignment of the MMM header on index.php */
.MMM-header p{
    text-align: center;
}

/*controls the margins of MMM header on index.php*/
#MMM_column_row_index{
    margin: 0 auto;
}


.hp-verbiage {
    color: yellow;
    font-weight: bold;
    font-size: 1.5vh;
    /*text-shadow: 2px 2px #000000;*/
}

.hp-verbiage p {
    margin-bottom: 1em;
}

.hp-verbiage-lg {
    color: gray;
    font-weight: bold;
    font-size: 4vw;
    /*font-style: italic;*/
    text-align: center;
    /*text-shadow: 2px 2px #000000;*/
}

.hp-verbiage-lg p {
    display: inline;
}

.text-indent {
    padding-left: 1.5em;
    text-indent: -1.5em;
}

/*controls the padding on the emma devices image in the index.php*/
#emma_devices_index{
    padding-bottom: 5em;
}

/*this controls the clock image in page backgrounds- other controls are in index.js */
.the-clock {
    background-image: url("../img/EMMA_Alarm_Crop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    /*these are depricated and if uncommented the image disappears*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;*/
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

/*controls the think safe theater background image on emma_videos.php */
.tss-theater {

    background: url("../img/attempt_7.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    max-width: 100%;
}

/*controls the header text on emma_videos.php */
.tss-theater h1 {
    text-align: right;
    color: white;
}

/*controls the text for the video descriptions on emma_videos.php*/
.tss-theater h5 {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.emma_verse {
    background-image: url("../img/296808.jpg");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.emma_verse h1 {
    text-align: center;
    color: white;
}

.rotate_txt p {
    text-align: center;
    color: Red;
    font-weight: bold;
    font-size: 3vw;

}

.community_background {
    background-image: url("../img/community_background3.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.family_background {
    background-image: url("../img/family_background.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.hospitality_background {
    background-image: url("../img/hospitality_background2.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.religion_background {
    background-image: url("../img/religion_backgound2.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.hospital_background {
    background-image: url("../img/healthcare_background4.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.school_background {
    background-image: url("../img/school_background.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.school_background2 {
    background-image: url("../img/education_background2.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.school_background3 {
    background-image: url("../img/education_background3.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.public_safety_background {
    background-image: url("../img/concert_background.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.workplace_background {
    background-image: url("../img/workplace_background.jpg");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
}

.resource_background {
    background-image: url("../img/bricks.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    background-blend-mode: screen;
}

.ind_description {
    color: grey;
    /*text-align: justify;*/
    margin: 0 auto;
    font-weight: bold;
    font-size: 16pt;
}

.company_description {
    color: grey;
    /*text-align: justify;*/
    margin: 0 auto;
    font-weight: bold;
    font-size: 12pt;
}

.description_card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 1em;
    /*background: floralwhite;*/
    background: white;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
    font-weight: bold;
    padding: .5em;
    /*text-align: Center;*/
    font-size: 12pt;
    width: 98%;
    height: auto;
    margin: 0 Auto;

}

.top_gap {
    margin-top: 2em;
}

.bottom_gap {
    margin-bottom: 2em;
}

.ind_title {
    color: grey;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 4vw;
}

.ind_tag {
    color: grey;
    /*text-align: center;*/
    margin: 0 auto;
    padding-top: .5em;
    font-weight: bold;
    font-size: 3vw;
}

.ind_buttons {
    padding-top: .5em;
}

.icon_titles {
    font-weight: bold;
    padding-top: 1em;
    text-align: Center;
    font-size: 2.5vw;
}

.ind_box_title {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #0078c1;
    text-align: left;
}

/*controls top bar menu responsiveness for various screen resolutions */
@media screen and (max-width: 939px) {
    #small-top_menu {
        display: inline;
    }

    #large-top_menu {
        display: none;
    }

    .card_section p {
        font-size: 3vw;

    }
}


@media screen and (min-width:940px){
    #small-top_menu {
        display: none;
    }

    #large-top_menu {
        display: inline;
    }
}





/*ipad landscape top menu bar controls */


@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    #small-top_menu {
        display:none;
    }

    #large-top_menu {
       display:inline;
       padding-top: 8%;
    }
}




/*ipad pro portrait top menu bar controls. the landscape view is fine and doesn't need this special css*/

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait){
    #small-top_menu {
        display:none;
    }

    #large-top_menu{
        display:inline;
        padding-top: 8%;
    }
}





.title-bar {
    background-color: transparent !important;
    color: black !important;
}

.menu-icon::after {
    background: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;
}

.clear_card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 1em;
    /*background: #fefefe;*/
    box-shadow: none;
    overflow: hidden;
    color: grey;
    font-weight: bold;
    padding-top: .5em;
    text-align: center;
    font-size: 1.5vw;
    width: 75%;
    /*width: 100%;*/
    height: auto;
}

.clear_card a {
    color: gray;
}

.clear_card a:hover {
    color: #0078C1;
    border-color: #0078C1;

}

.clear_card:hover, .clear_card a:hover {
    border-color: #0078C1;
    background-color: #C2E0F6;
}

.statementBanner {
    background-color: #0078c1;
    width: 100%;
    padding: 9px;
    color: white;
    font-family: arial;
    outline: 2px solid white;
    outline-offset: -8px;
}

.textSize {
    font-size: 18pt;
    font-family: arial;
    text-align: center;
}

.feature_text {
    font-size: 10pt;
    color: grey;
}

.feature_header {
    font-size: 20pt;
    margin: 0 auto;
    color: grey;
}

.button2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    background-color: gray;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: gray;
    color: #fefefe;
}

.button2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #0078c1;
    /*color: #2c3840;*/
    /*background-color: #fefefe;*/
    background-color: #c2e0f6;
    transition: 0.3s;
}


[data-whatinput='mouse'] .button2 {
    outline: 0;
}

.button2:hover, .button2:focus {
    background-color: #C2E0F6;
    color: #0078c1;
}

.button2.tiny {
    font-size: 0.6rem;
}

.button2.small {
    font-size: 0.75rem;
}

.button2.large {
    font-size: 1.25rem;
}

.button2.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.button2.primary {
    background-color: #1779ba;
    color: #fefefe;
}

.button2.primary:hover, .button2.primary:focus {
    background-color: #126195;
    color: #fefefe;
}

.button2.secondary {
    background-color: #767676;
    color: #fefefe;
}

.button2.secondary:hover, .button2.secondary:focus {
    background-color: #5e5e5e;
    color: #fefefe;
}

.button.success {
    background-color: #3adb76;
    color: #0a0a0a;
}

.button2.success:hover, .button2.success:focus {
    background-color: #22bb5b;
    color: #0a0a0a;
}

.button2.warning {
    background-color: #ffae00;
    color: #0a0a0a;
}

.button2.warning:hover, .button2.warning:focus {
    background-color: #cc8b00;
    color: #0a0a0a;
}

.button2.alert {
    background-color: #cc4b37;
    color: #fefefe;
}

.button2.alert:hover, .button2.alert:focus {
    background-color: #a53b2a;
    color: #fefefe;
}

.button2.hollow {
    border: 1px solid #1779ba;
    color: #1779ba;
}

.button2.hollow, .button2.hollow:hover, .button2.hollow:focus {
    background-color: transparent;
}

.button2.hollow:hover, .button2.hollow:focus {
    border-color: #0c3d5d;
    color: #0c3d5d;
}

.button2.hollow.primary {
    border: 1px solid #1779ba;
    color: #1779ba;
}

.button2.hollow.primary:hover, .button2.hollow.primary:focus {
    border-color: #0c3d5d;
    color: #0c3d5d;
}

.button2.hollow.secondary {
    border: 1px solid #767676;
    color: #767676;
}

.button2.hollow.secondary:hover, .button2.hollow.secondary:focus {
    border-color: #3b3b3b;
    color: #3b3b3b;
}

.button2.hollow.success {
    border: 1px solid #3adb76;
    color: #3adb76;
}

.button2.hollow.success:hover, .button2.hollow.success:focus {
    border-color: #157539;
    color: #157539;
}

.button2.hollow.warning {
    border: 1px solid #ffae00;
    color: #ffae00;
}

.button2.hollow.warning:hover, .button2.hollow.warning:focus {
    border-color: #805700;
    color: #805700;
}

.button2.hollow.alert {
    border: 1px solid #cc4b37;
    color: #cc4b37;
}

.button2.hollow.alert:hover, .button2.hollow.alert:focus {
    border-color: #67251a;
    color: #67251a;
}

.button2.disabled, .button2[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled:hover, .button2.disabled:focus, .button2[disabled]:hover, .button2[disabled]:focus {
    background-color: #1779ba;
    color: #fefefe;
}

.button2.disabled.primary, .button2[disabled].primary {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled.primary:hover, .button2.disabled.primary:focus, .button2[disabled].primary:hover, .button2[disabled].primary:focus {
    background-color: #1779ba;
    color: #fefefe;
}

.button2.disabled.secondary, .button2[disabled].secondary {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled.secondary:hover, .button2.disabled.secondary:focus, .button2[disabled].secondary:hover, .button2[disabled].secondary:focus {
    background-color: #767676;
    color: #fefefe;
}

.button2.disabled.success, .button2[disabled].success {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled.success:hover, .button2.disabled.success:focus, .button2[disabled].success:hover, .button2[disabled].success:focus {
    background-color: #3adb76;
    color: #fefefe;
}

.button2.disabled.warning, .button2[disabled].warning {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled.warning:hover, .button2.disabled.warning:focus, .button2[disabled].warning:hover, .button2[disabled].warning:focus {
    background-color: #ffae00;
    color: #fefefe;
}

.button2.disabled.alert, .button[disabled].alert {
    opacity: 0.25;
    cursor: not-allowed;
}

.button2.disabled.alert:hover, .button2.disabled.alert:focus, .button2[disabled].alert:hover, .button2[disabled].alert:focus {
    background-color: #cc4b37;
    color: #fefefe;
}

.button2.dropdown::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em;
}

.button2.arrow-only::after {
    top: -0.1em;
    float: none;
    margin-left: 0;
}

.advocate_title {
    color: black;
    text-align: center;
    margin: 0 auto;
    padding-top: .5em;
    font-weight: bold;
    font-size: 1.75vw;
}

.advocate_text {
    color: black;
    text-align: center;
    margin: 0 auto;
    /*padding-top: .5em;*/
    /*font-weight: bold;*/
    font-size: 1.5vw;
}

