html {

}

body {
  width: 100%;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  background-color: #efefef;
}

.button {
  background-color: #0079C1;
  /*background-color: #566977;*/
  border: none;
  outline: none;
  /*transition: 1s;*/
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  /*color: #2c3840;*/
  /*background-color: #fefefe;*/
  background-color: #C2E0F6;
  transition: 0.3s;
}

input:disabled {
  background-color: #566977;
}

.button:focus {
  background-color: #566977;
  box-shadow: none;
  transition: 0.3s;
}

.button.hollow {
  border-color: #fefefe;
  color: #fefefe;
}

.clear {
  margin: 0px;
  padding: 0px;
}

.text {
  color: rgba(255, 255, 255, .9);
}

.title {
  position: relative;
  border-bottom: 1px solid #bbbbbb;
  background-color: #e2e2e2;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content-container-div {
  min-height: 100%;
  position: relative;
}

.content-body-div {
  padding-bottom: 3em;
}

.content-footer-div {
  clear: both;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;

}

/** App Dashboard */

.app-dashboard {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-dashboard-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.app-dashboard-top-nav-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*background: #2c3840;*/
  background: #0078C1;
  /*height: 55px;*/
  width: 100%;
  -webkit-flex: 0 0 55px;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px;
}

.app-dashboard-top-nav-bar .menu-icon {
  vertical-align: text-bottom;
}

.app-dashboard-logo {
   color: #fefefe;
   text-transform: uppercase;
   font-weight: bold;
 }
a.app-dashboard-logo:hover{
  color: #2c3840 !important;
}

.app-dashboard-search-bar-container {
  position: relative;
}

.app-dashboard-search {
  background: #41525e;
  border: 0;
  margin-bottom: 0;
  color: #fefefe;
}

.app-dashboard-search:active, .app-dashboard-search:focus {
  background: #222b31;
}

.app-dashboard-search-icon {
  position: absolute;
  color: #fefefe;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-dashboard-top-bar-actions {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.app-dashboard-top-nav-bar button {
  margin-bottom: 0;
  margin-right: 2rem;
}

.app-dashboard-top-nav-bar button.hollow {
  border-color: #fefefe;
  color: #fefefe;
}

.app-dashboard-top-nav-bar button.hollow:hover, .app-dashboard-top-nav-bar button.hollow:active {
  background: #fefefe;
  color: #1779ba;
}

.app-dashboard-top-bar-actions .fa-info-circle {
  color: #fefefe;
  font-size: 1.5rem;
}

.app-dashboard-sidebar {
  /*background-color: #566977;*/
  background-color: #0079C1;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  transition: all 0.5s ease;
}

.app-dashboard-sidebar-title-area {
  color: #fefefe;
}

.app-dashboard-sidebar a {
  color: #fefefe;
}

.app-dashboard-sidebar .app-dashboard-open-sidebar, .app-dashboard-sidebar .app-dashboard-close-sidebar {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.app-dashboard-sidebar .app-dashboard-sidebar-close-button {
  font-size: 14px;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner {
  height: 100%;
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a:hover {
  color: #2c3840;
  /*text-shadow: 0 0 5px white;*/
}

.app-dashboard-sidebar .fa.large {
  font-size: 1.5rem;
  width: 40px;
}

.reveal-for-medium .app-dashboard-open-sidebar {
  display: none;
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  transition: all 0.5s ease;
  overflow-y: auto;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  background-color: #fefefe;
}

/*style for the create event button with caution signs on top-bar.php */
#main-create-event {
  /*margin: 0;*/
  /*margin-bottom: 5px;*/

  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

#main-create-event:hover {
  color: #2c3840 !important;
}

#main-create-event:active, #main-create-event:focus {
  border-color: #fefefe;
  color: #fefefe;
}

#main-create-event img {
  width: 20px;
  height: 20px;
}

/*medium screens 640px to 1023px- controls app dashboard and side-bar.php*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .app-dashboard.shrink-medium .app-dashboard-close-sidebar, .app-dashboard.shrink-medium .app-dashboard-sidebar-text {
    display: none;

  }

  .app-dashboard.shrink-medium .app-dashboard-open-sidebar {
    display: block;
  }

  .app-dashboard.shrink-medium .app-dashboard-sidebar {
    width: 80px;
  }

  .app-dashboard.shrink-medium .app-dashboard-sidebar .fa.large {
    width: auto;
  }

  .app-dashboard.shrink-medium .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .app-dashboard.shrink-medium .navigation {
    margin-top: 2rem;
    text-align: center;
  }

  .app-dashboard.shrink-medium .menu.vertical > li > a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .app-dashboard.shrink-medium .menu li::after {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .app-dashboard.shrink-medium .menu li a {
    padding: 0.75rem;
  }

  .app-dashboard.shrink-medium .menu li a svg {
    margin: 0;
  }

  .app-dashboard.shrink-medium .menu li a span {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

/*large screens 1023.1 px on up. controls app dashboard and side-bar.php*/
@media print, screen and (min-width: 64em) {
  .app-dashboard.shrink-large .app-dashboard-close-sidebar, .app-dashboard.shrink-large .app-dashboard-sidebar-text {
    display: none;
  }

  .app-dashboard.shrink-large .app-dashboard-open-sidebar {
    display: flex;
  }

  .app-dashboard.shrink-large .app-dashboard-sidebar {
    width: 80px;
  }

  .app-dashboard.shrink-large .app-dashboard-sidebar .fa.large {
    width: auto;
  }

  .app-dashboard.shrink-large .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .app-dashboard.shrink-large .navigation {
    margin-top: 2rem;
    text-align: center;
  }

  .app-dashboard.shrink-large .menu.vertical > li > a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .app-dashboard.shrink-large .menu li::after {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .app-dashboard.shrink-large .menu li a {
    padding: 0.75rem;
  }

  .app-dashboard.shrink-large .menu li a svg {
    margin: 0;
  }

  .app-dashboard.shrink-large .menu li a span {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#thinking-modal, #thinking-modal:focus {
  background-color: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border: none;
}

#action-menu > li > a > i:hover {
  color: #999999;
  /*border: 1px solid #575757;*/
  box-shadow: 0 0 10px 1px #999999;
}

#action-menu > li > a > i:active {
  color: #8c8c8c;
  /*border: 1px solid #575757;*/
  box-shadow: inset 0 0 10px 1px #999999;
}

#action-menu > li > a > i {
  font-size: 1.5rem;
  color: #8c8c8c;
  padding: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

li.is-submenu-item:hover {
  background-color: #566977;
  color: #fefefe;
}

li.is-submenu-item a:hover {
  color: #fefefe;
}

/*
.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 70px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 70px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}


.heart:after{
    content: "❤";
    left: 21px;
    top: 16px;
}

.flower:after{
    content: "✿";
    left: 23px;
    top: 14px;
}

.tick:after{
    content: "✔";
    left:23px;
    top:16px;
}

.cross:after{
    content: "✖";
    left: 24px;
    top: 15px;
}

.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.heart:hover:after{
    color:#f94e66;
    text-shadow:0px 0px 6px #f94e66;
}

.flower:hover:after{
    color:#f99e4e;
    text-shadow:0px 0px 6px #f99e4e;
}

.tick:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;
}

.cross:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;
}



.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
*/

/** Event Pickers */
#create-event-modal .card, #sub-events .card {
  align-items: center;
  opacity: 1;
  transition: 0.5s ease;
}

#create-event-modal .card:hover .card-section, #sub-events .card:hover .card-section {
  opacity: 1;
}

#create-event-modal .card:hover, #sub-events .card:hover {
  /*background-color: #2c3840;*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;
  cursor: pointer;
}

#sub-events .card img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

#create-event-modal .card img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.thumbnail, .dashboard-nav-card {
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
!important
}


#emergency_alert{
  max-width: 50%;
  height: 65%;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 25%;
  z-index: 1000;
  border: black solid;
  border-radius: 25px;
  padding-top: 5px;
}

#emergency_popup_icon{
  border: black solid;
  border-radius: 15px;
  background-color: lightgrey;
  margin: auto;
  max-width: 25%;
  padding: 2px auto;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}


/*styles for the dashboard bar on home.php  */
#show-plans {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

/*styles for toggles */
#plans-container{
  display: flex;
  align-items: inherit;
  justify-content: flex-start;

}

/*styles for the text under the toggle switch for all resolutions. */
#toggle_text{
  float: left;
  margin-right: .5rem;
  text-align: left;

}


/*styles for the top-bar.php*/

/* styles to get the Emma logo and caution sign to show on small screens under hamburger menu */

@media screen and (max-width:639px) {
  a.app-dashboard-logo{
    display: flex;
    padding-top: 10px;
    align-items: flex-end;
    justify-content: left;
  }

  /*id for the dashboard bar on home.php*/
  #show-plans {
    margin-left: 5px;
    margin-right: 5px;
  }

}
