#event-map {
    /*border: 5px solid red;*/
    position: relative;
    width:100%;
    height:80vh;
    /*position: relative;*/
    /*top:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*height:100%;*/
}