.margin-bottom-1EM{
    margin-bottom: 1em;
}

.margin-top-1em{
    margin-top: 1em;
}

.image-row{
    height: 15em;
}

.image-row img{
    height: 12.5em;
}

.image-row .placeholder{
    height: 12.5em;
    width: 12.5em;
}