
.dashboard-nav-card {
    background: #1779ba;
    border-radius: 0;
    color: #fefefe;
    display: block;
    min-height: 100px;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.dashboard-nav-card:hover .dashboard-nav-card-title,
.dashboard-nav-card:hover .dashboard-nav-card-icon {
    color: #fefefe;
}

.dashboard-nav-card:hover .dashboard-nav-card-icon {
    opacity: 1;
    transition: all 0.2s ease;
}

.dashboard-nav-card-icon {
    font-size: 1.25rem;
    left: 1rem;
    opacity: 0.5;
    position: absolute;
    top: 1rem;
    transition: all 0.2s ease;
    width: auto;
}

.dashboard-nav-card-title {
    bottom: 0;
    position: absolute;
    right: 1rem;
    text-align: right;
}



.image-row{
    height: 15em;
}

.image-row img{
     height: 12.5em;
 }

.image-row .placeholder{
    height: 12.5em;
    width: 12.5em;
}


.margin-bottom-1EM{
    margin-bottom: 1em;
}

.margin-top-1em{
    margin-top: 1em;
}

.row-buttons{
    margin-bottom: 2em;
}

.big-button{
    border-radius: 15px;
    background-color: darkblue;
    padding: 2em 1em 2em 1em;
    color: white;
}

.evac_maps{
    background-color: #ffc90c;
}

.manuals{
    background-color: green;
}

.floor_plans{
    background-color: blue;
}

.procedures{
    background-color: dimgrey;
}

.checklists{
    background-color: #ff0002;
}

.scripts{
    background-color: purple;
}