#user-responses .callout:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  cursor: pointer;
}

#user-responses .callout:focus {
  box-shadow: none;
  transition: 0.3s;
}

.max-height {
  max-height: 30rem;
  overflow-y: scroll;
}

.inset-shadow {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.19);
}